In [42]:
import pandas as pd
%matplotlib inline

In [4]:
data = pd.read_parquet('../data/data_made_restaurants.parquet')

In [5]:
data.shape

(2780801, 24)

In [6]:
data.head()

,customer_id,order_id,user_latitude,user_longitude,date,city_id,chain_id,vendor_id,target,total_value,...,vendor_latitude,vendor_longitude,online_payment,accepting_cash,min_delivery_value,takeaway_support,citymobil_support,default_product_group_id,product_group_ids,cuisine_ids
0,15955880,207845807,55.7815,37.5307,2020-08-01,1,140718,343852,1,575,...,55.778137,37.6024,1,0,1000,1,0,30.0,[30],None
1,62512097,207855295,55.6472,37.4682,2020-08-01,1,140718,343852,1,1360,...,55.778137,37.6024,1,0,1000,1,0,30.0,[30],None
2,64977556,207871966,55.8649,37.5014,2020-08-01,1,140718,343852,1,560,...,55.778137,37.6024,1,0,1000,1,0,30.0,[30],None
3,81281415,207960541,55.8711,37.5105,2020-08-01,1,140718,343852,1,1130,...,55.778137,37.6024,1,0,1000,1,0,30.0,[30],None
4,72045218,208028305,55.8166,37.5899,2020-08-01,1,140718,343852,1,745,...,55.778137,37.6024,1,0,1000,1,0,30.0,[30],None

In [18]:
data.columns

Index(['customer_id', 'order_id', 'user_latitude', 'user_longitude', 'date',
       'city_id', 'chain_id', 'vendor_id', 'target', 'total_value',
       'discount_value', 'delivery_fee', 'chain_name', 'ddk_flag',
       'vendor_latitude', 'vendor_longitude', 'online_payment',
       'accepting_cash', 'min_delivery_value', 'takeaway_support',
       'citymobil_support', 'default_product_group_id', 'product_group_ids',
       'cuisine_ids', 'month'],
      dtype='object')

In [21]:
len(data['chain_name'].unique())

10398

# Даты

In [11]:
print('c {} по {}'.format(data['date'].min(), data['date'].max()))

c 2020-08-01 по 2020-10-31

In [13]:
data['month'] = data['date'].apply(lambda x: x[:7])

In [17]:
data.groupby('month')['order_id'].count()

month
2020-08     853135
2020-09     886723
2020-10    1040943
Name: order_id, dtype: int64

# Количество заказов на пользователя

In [28]:
cust_month = data.groupby(['customer_id', 'month'])['order_id'].count().unstack().fillna(0)

In [47]:
cust_month.head()

month        2020-08  2020-09  2020-10
customer_id
-10           6433.0   6259.0   9284.0
 86              0.0      0.0      2.0
 90              1.0      0.0      0.0
 212             0.0      0.0      1.0
 219             8.0      0.0      8.0

In [30]:
cust_month.sum()

month
2020-08     853135.0
2020-09     886723.0
2020-10    1040943.0
dtype: float64

In [49]:
cust_order_count = cust_month.sum(axis=1)
cust_order_count.head()

customer_id
-10     21976.0
 86         2.0
 90         1.0
 212        1.0
 219       16.0
dtype: float64

In [45]:
cust_order_count.value_counts()

1.0        1019201
2.0         282095
3.0         116330
4.0          57280
5.0          31278
6.0          18554
7.0          11396
8.0           7394
9.0           4836
10.0          3320
11.0          2299
12.0          1572
13.0          1139
14.0           774
15.0           608
16.0           443
17.0           353
18.0           250
19.0           187
20.0           117
21.0           114
22.0            70
23.0            55
24.0            38
25.0            36
26.0            34
27.0            22
29.0            18
28.0            17
30.0            14
31.0            12
33.0             5
32.0             5
40.0             3
36.0             3
37.0             3
34.0             2
35.0             2
42.0             2
38.0             1
21976.0          1
43.0             1
46.0             1
49.0             1
50.0             1
59.0             1
69.0             1
45.0             1
dtype: int64

In [41]:
cust_order_count.mean()

1.7826904461212008

#