In [1]:
import pandas as pd

In [2]:
data = pd.read_parquet('..data/data_made_restaurants.parquet')

In [4]:
data.shape

(2780801, 25)

In [5]:
data.head()

,Unnamed: 0,customer_id,order_id,user_latitude,user_longitude,date,city_id,chain_id,vendor_id,target,...,vendor_latitude,vendor_longitude,online_payment,accepting_cash,min_delivery_value,takeaway_support,citymobil_support,default_product_group_id,product_group_ids,cuisine_ids
0,0,15955880,207845807,55.7815,37.5307,2020-08-01,1,140718,343852,1,...,55.778137,37.6024,1,0,1000,1,0,30.0,[30],None
1,1,62512097,207855295,55.6472,37.4682,2020-08-01,1,140718,343852,1,...,55.778137,37.6024,1,0,1000,1,0,30.0,[30],None
2,2,64977556,207871966,55.8649,37.5014,2020-08-01,1,140718,343852,1,...,55.778137,37.6024,1,0,1000,1,0,30.0,[30],None
3,3,81281415,207960541,55.8711,37.5105,2020-08-01,1,140718,343852,1,...,55.778137,37.6024,1,0,1000,1,0,30.0,[30],None
4,4,72045218,208028305,55.8166,37.5899,2020-08-01,1,140718,343852,1,...,55.778137,37.6024,1,0,1000,1,0,30.0,[30],None